<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Info</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
            background: pink;
        }
        img {
            width: 200px; 
            height: 200px; 
            object-fit: cover; 
            margin-bottom: 15px;
            border-radius: 10px; 
        }
    </style>
</head>
<body>
    <div>
        <h1>My Info</h1>
        <img src="\images\egorrakov.jpg" alt="egorrakov"><br>
        {{ message }} <br>
        {{ message2 }} <br>
        {{ message3 }} <br>
    </div>
</body>
</html>